In [12]:

x = iter(list(range(1,10)))
#итератор
print(x.__next__())
#метод для перехода к следующему значению

1

In [15]:
a = 1
#оператор +
print(a.__add__(1))

2

In [18]:
list_number = [1,2]
b = list_number
#Garbage Collection
del list_number
print(b)

[1, 2]

In [20]:
print(sum(n for n in range(1,10) if n % 3 == 0 or n % 5 == 0))

23

In [40]:
*num, num1, num2 = list(range(1,10))
print(num)

[1, 2, 3, 4, 5, 6, 7]

In [41]:
#Дубликат объекта
print(num[:])

[1, 2, 3, 4, 5, 6, 7]

In [43]:
s =

d